
body {
    background-color: black;
    color: rgb(255, 255, 255);
}

#timer{
    width: 805px;
    position:relative;
    margin: auto;
    color:rgb(86, 250, 214);
}

#gantt{
    width: 805px;
    position:relative;
    text-align: center;
    margin: auto;
    color:rgb(255, 255, 255)
}

